@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.small-gray-button {
    background-color: #767171; /* 어두운 회색 */
    color: white; /* 흰색 글자 */
    padding: 10px 20px; /* 상하 10px, 좌우 20px 패딩 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    font-size: 13px; /* 폰트 크기 조정 */
    width: 90px; /* 버튼 너비 */
    height: 120px;
    display: block; /* 버튼을 블록 요소로 만들어 줄 바꿈 */
    margin: 10px auto; /* 상하 10px 마진, 좌우 자동 */
  }

  .small-gray-button:hover {
    background-color: #555555; /* 마우스 오버시 약간 더 밝은 회색 */
  }

.main {
  display:flex;
  justify-content: safe center;
  align-items: safe center;
  width: 100%;
  height: 100%;
  gap: 35px;
  margin-top: 5vh; /* 원하는 만큼 위쪽 여백 추가 */
}

.profile-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  max-height: 200px;
  min-width: 420px;
  max-width: 420px;
  border: 1px solid thistle;
  border-radius: 10px;
}

.profile-section {
  display:flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  gap : 10px;
  margin: 20px 0px 20px 0px;
}

.profile-info {
  color: #333; /* 글자 색상 */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 세로 중앙 정렬 */
}

.profile-nameAndStatus {
  display:flex;
  justify-content: center;
  align-items: center;
  gap : 8px;
}

.profile-nameAndStatus p {
  margin: 0;
  padding: 0;
}

.user-name {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Noto Sans KR", serif;
  color: #333;
}

.v-line {
  border-left : thin solid gray;
  height : 19px;
}

.user-status {
  font-size: 1.05rem;
  font-weight: normal;
  color: gray;
}

.profile-email{
  font-size: 1.05rem;
  font-weight: normal;
  color: gray;
}

.profile-email p{
  margin: 0;
  padding: 0;
}

.profile-logout {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: normal; 
  margin: 15px 0px 40px 0; 
  border: 1px solid thistle; /* 검은색 윤곽선 */
  padding: 10px 10px 10px 10px;
  border-radius: 20px; /* 둥근 테두리 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.profile-logout p {
  margin: 0;
  padding: 0;
}

.profile-logout img {
  width: 20px; /* 로고 너비를 고정 */;
  margin: 2px 0 0 0;
}

.button-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-view {
  background-color: blueviolet;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  max-height: 300px;
  min-width: 750px;
  max-width: 750px;
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.profile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.profile-footer p {
  margin: 0 7% 0 7%;
}