@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Noto+Sans+KR:wght@100..900&display=swap');

.search-bar{
  font-family: "Noto Sans KR", serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* position: fixed; */
  margin: 50px 0 0 20px;
  width: 230px;
}

.search-menu{
  
  
}

.search-menu > div{
  display: flex;
  margin: 10px 0;
  align-items: center;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}

.company{
  /* padding: 20px 0 0 0; */
}

.company-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.company-item > img{
  width: 40px; /* 원형 크기 설정 */
  height: 40px; /* 원형 크기 설정 */
  border-radius: 50%; /* 원형으로 변환 */
  object-fit: cover; /* 이미지 비율 유지하며 꽉 채우기 */
  object-position: center; /* 중앙 정렬 (잘리지 않게) */
}

.condition{
  justify-content: left;
  margin: 10px 0px;
}

.condition-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

.condition-category > div{
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;
  margin: 5px 0;
  padding: 6px 11px;
  border-radius: 20px; /* 둥근 테두리 */
  font-size: 80%;
}

.unselected {
  border: 1px solid #ccc;
  
}

.unselected:hover {
  color: #0457BA;
  font-weight: bold;
  cursor: pointer;
}

.selected{
  background-color: #0457BA;
  color: white;
  border: 1px solid white;
}

.searchbar-v-line {
  border-bottom : thin solid black;
  width: 230px;
}