.App {
  text-align: center;
  display: flex;
  flex-direction: column; /* 헤더와 콘텐츠를 세로로 배치 */
  width: 100%;
  min-width: 400px; /* 최소 너비 */
  height: 100vh; /* 화면 전체 높이 */
  overflow-x: auto; /* 수평 스크롤 허용 */
  overflow-y: auto; /* 수직 스크롤 허용 */
}
